<div class="row-fluid">
  <div class="span9">

    <%= content_for :page_title do%>
      <%=t '.title', :default => controller_name.titleize %>
    <% end %>

    <%= bootstrap_flash %>
    <%= will_paginate %>
    <%= render 'table' %>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header"><%=t '.filters', :default => "filters" %></li>
      </ul>
      <%= render 'search' %>
    </div>
  </div>
</div>
