<div class="row">
  <div class="col-md-9">

    <%= content_for :page_title do%>
      <%=t '.title', :default => controller_name.titleize %>
    <% end %>
    <% unless collection.empty? %>
      <%= will_paginate %>
      <%= render 'table' %>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li class="nav-header"><%=t '.filters', :default => "filters" %></li>
      </ul>
      <%= render 'search' %>
    </div>
  </div>
</div>
